<!--
File Name - about.ejs
Student Name - Harmit Chauhan
Student ID - 301221772
-->

<% if (title == "About") { %>
    <div class="container-fluid-md">
      <div class="container"> 
        <div class="row">
          <div class="col-md-12 about-text"><h1><P>Harmit Chauhan</P></h1></div>
        </div>
        
        <div class="row">
          <div class="col-md-6 "><img src="/images/harmit.jpg" style="width: 400px; border-radius: 5px;"></div>
          <div class="col-md-6 about-para" style="color:#dbdbdb;"><p> 
            I have completed my bachelor's degree in computer engineering from <B>Charotar University Science & Technology, India.</B> 
            I like to read books(biographies, self-improvement), write poems, play fps games (cs-go, valorant),and cooking.
            I also like to explore new culture and meet new people. 
            I'm the kind of guy who loves to spend time alone.
            I want to learn different skills.</p>
            <p style="margin-top: 40px; font-size: large;" >
              <a href="https://drive.google.com/file/d/1-75ch5ceUcjJtv5oakPvYXcugpxinN4R/view?usp=sharing" target="blank">My Resume</a></p>
          </div>
        </div>
        
      </div>
  
    </div>
    
  <%} else { %>
    
  <% } %>
  