<!--
File Name - projects.ejs
Student Name - Harmit Chauhan
Student ID - 301221772
-->

<% if (title == "Projects") { %>
    <div class="container-fluid1" >
      
        <div class="row" >
          <div class="col-6" >
            <p><h3 style="margin-left: 50px ;margin-bottom: -5px;font-family: Roboto, sans-serif !important;">
              <B>Banking Application</B></h3></p>
            <div class="project-text-head" style="margin-left: 50px;"><p>This project is a simple file system program written in C++ that 
              performs some basic bank transactions. A user can create an account and access account information. The account can also be used 
              to deposit and withdraw funds. The remainder of the amount will be displayed after the transaction is completed. The user can modify 
              account information as well as delete the account. This was my solo project.</p></div></div>
            
          <div class="col-6"><img src="/images/project3.png" style="margin-top:10px;margin-left: 50px; height: 300px; width: 600px;"></div>
        </div>
        
        <div class="row" style="margin-top: 50px;">
          <div class="col-5" ><img src="/images/project2.png" style="margin-left:50px; height: 
          450px;width: 250px;"></div>
          <div class="col-1"></div>
          <div class="col-6">
            <p><h3  style="margin-left: 8px;font-family: Roboto, sans-serif !important;">
              <b>Job recruitment application</b></h3>
              <div class="project-text-head">
            <p>
              This application was created with Android Studio. This was a collaborative effort. 
              This programme can be used by three sorts of users: first, students/people looking for work; 
              second, employers/companies, and third, administrators. The admin's task is to authorise businesses and jobs. 
              People looking for work will be able to apply for jobs that have been approved. Employers will then be able to 
              view who has registered and their information. It was a project for an internship. 
        </p></p></div>
        </div></div>
        <p></p>
        
        <div class="row" style="margin-top: 30px;">
          <div class="col-6 "><p ><h3 style="font-family: Roboto, 
          sans-serif !important;"><b style="margin-left: 50px; ">Game information website</b></h3>
            <div class="project-text-head2" style="margin-left: 50px ">
            <p>
              HTML, CSS, Bootstrap, and Angular are used in this project. On this project, 
              there were three of us. In our fourth semester, we had a web technology course 
              in which we had to present one project at the conclusion of the semester. Users can 
              create posts on certain games, give their thoughts on them, and provide links to related 
              videos on this website.
            </p></p></div></div>
          
          <div class="col-6 " ><img src="/images/project1.png" style="margin-top: 60px;margin-left: 
          20px; margin-bottom: 20px; height: 350px; width: 600px;"></div>
        </div>
        
     
  
    </div>
    <%} else { %>
    
  <% } %>
  